{{license}}

DEVICE_PATH := device/{{vendor}}/{{device}}

# Architecture
TARGET_ARCH := {{target_arch}}
TARGET_ARCH_VARIANT := {{target_arch_variant}}
TARGET_CPU_ABI := {{target_cpu_abi}}
TARGET_CPU_VARIANT := {{target_cpu_variant}}
TARGET_CPU_VARIANT_RUNTIME := {{target_cpu_variant_runtime}}
{{arch_block}}

# Bootloader
TARGET_BOOTLOADER_BOARD_NAME := {{board_name}}
TARGET_NO_BOOTLOADER := true

# Platform
TARGET_BOARD_PLATFORM := {{platform}}

# Kernel
BOARD_BOOT_HEADER_VERSION := {{boot_header_version}}
BOARD_KERNEL_BASE := 0x00000000
BOARD_KERNEL_PAGESIZE := 4096
BOARD_KERNEL_CMDLINE := # TODO: copy from the stock boot image
BOARD_MKBOOTIMG_ARGS += --header_version $(BOARD_BOOT_HEADER_VERSION)
TARGET_KERNEL_SOURCE := {{kernel_source}}
TARGET_KERNEL_CONFIG := {{device}}_defconfig

# Filesystem
BOARD_FLASH_BLOCK_SIZE := 262144 # (BOARD_KERNEL_PAGESIZE * 64)
BOARD_USES_METADATA_PARTITION := true
TARGET_COPY_OUT_VENDOR := vendor
TARGET_USERIMAGES_USE_EXT4 := true
TARGET_USERIMAGES_USE_F2FS := true

{{partition_block}}

{{ota_block}}

# Verified Boot
BOARD_AVB_ENABLE := true
BOARD_AVB_MAKE_VBMETA_IMAGE_ARGS += --flags 3
BOARD_AVB_RECOVERY_ALGORITHM := SHA256_RSA4096
BOARD_AVB_ROLLBACK_INDEX_LOCATION := 1

# Security patch level
VENDOR_SECURITY_PATCH := {{vendor_security_patch}}

# SELinux
include device/qcom/sepolicy_vndr/SEPolicy.mk
BOARD_VENDOR_SEPOLICY_DIRS += $(DEVICE_PATH)/sepolicy/vendor

{{boardconfig_vendor_block}}
