{{license}}

# Add common definitions for Qualcomm
$(call inherit-product, hardware/qcom-caf/common/common.mk)

# Board API level
BOARD_SHIPPING_API_LEVEL := {{board_api_level}}

# Shipping API
PRODUCT_SHIPPING_API_LEVEL := {{shipping_api_level}}

# Soong namespaces
PRODUCT_SOONG_NAMESPACES += \
    $(LOCAL_PATH)

{{device_vendor_block}}
