#!/usr/bin/env -S PYTHONPATH=../../../tools/extract-utils python3
{{license}}

from extract_utils.main import (
    ExtractUtils,
    ExtractUtilsModule,
)

namespace_imports = [
    'device/{{manufacturer}}/{{device}}',
]

module = ExtractUtilsModule(
    '{{device}}',
    '{{manufacturer}}',
    namespace_imports=namespace_imports,
)

if __name__ == '__main__':
    utils = ExtractUtils.device(module)
    utils.run()
